# Image Processing & Computer Vision
opencv-python
numpy
pyzbar

# Graphical User Interface (HMI)
Kivy

# Networking & API Communication
requests
python-socketio
python-engineio

# Security & Utilities
cryptography